<!-- ejs模板,模块展现层,负责展现UI -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <script type="text/javascript" src="lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="skyframe/lib/skyframe.js"></script>
</head>
<!-- 模板正文 -->
<body style="margin: 0px; ">
    <div id="headDiv" style="position:absolute;top:0px;bottom:0px;left:0px;right:0px;"></div>
    <!--<div id="mainDiv" style="width: 100%; position: absolute"></div>-->
    <!--<div id="loginDiv"></div>-->
    <!--<div id="registDiv"></div>-->
</body>


<script>
    document.location.href = "/login";
</script>
</html>

